
.mainserv{
    padding-top: 20px;
    margin-bottom: 30px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}
.title11{
    text-align: center;
   
}
.title11 h3{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color:var(--main);
    text-transform: uppercase;
    
}
.title11 h1{
    color: #1E1D4C;
    text-align: center;
 
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    color:var(--five)
}